<a (click)=showDetails(offer) *ngFor="let offer of offers" class="mat-card offer-card-salary" [ngStyle]="{'border-left-color': findTechColor(offer.mainTech)}">
  <div class="content">
    <div class="image-container">
      <img alt="{{offer.company}}" src="data:image/png;base64,{{ offer.logo }}" class="image"/>
    </div>
    <div class="info">
      <div class="head">
        <span class="position">{{ offer.position }}</span>
        <span class="rightside">
          <span class="salary">
            {{salaryStyling(offer.salary, offer.currency)}}
          </span>
          <span class="date" [ngClass]="{ 'new': isNew(offer.timePosted)}">
            {{dateStyling(offer.timePosted)}}
          </span>
        </span>
      </div>
      <div class="body">
        <div class="first">
          <div class="company">
            <mat-icon>business</mat-icon>
            <span>{{ offer.company }}</span>
          </div>
          <div class="location">
            <mat-icon>location_on</mat-icon>
            <span>{{ offer.city }}</span>
          </div>
        </div>
        <div class="tags">
          <div *ngFor="let tag of offer.tags.slice(0,3)" class="tag">
            {{ tag.stack }}
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
