<div class="adverts">
  <div class="advert" *ngFor="let advert of adverts">
    <div class="header">
      <div class="title">{{advert.title}}</div>
      <div class="price">
        <span class="money">{{advert.price}}</span>
        <span class="currency">{{advert.currency}}</span>
      </div>
    </div>
    <div class="description">
      <ul>
        <li *ngFor="let item of advert.bundle">
          <mat-icon *ngIf="item.active" [ngStyle]="{'color': '#9c27b0'}">check_circle_outline</mat-icon>
          <mat-icon *ngIf="!item.active" [ngStyle]="{'color': '#E1E8F0'}">sentiment_dissatisfied</mat-icon>
          {{item.text}}
        </li>
      </ul>
      <div class="post-a-job-button">
        <a class="mat-button mat-raised-button color" routerLink="/post-offer-form">Kup ogłoszenie</a>
      </div>
    </div>
  </div>
</div>
