* {
  font-size: 14px;
}

.logo {
  margin: 7px 15px 0 0;
}

.navbar-text {
  color: #99a1ab;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  a:not(.active) {
    color: #99a1ab;
    text-decoration: none;

    &:hover {
      color: deeppink;
      background: white;
    }
  }

}

.post-a-job-button {
  a, button {
    margin-left: 20px;
  }

  .mat-stroked-button, .mat-flat-button{
    font-weight: 400 !important;
  }

  .grayer {
    color: #757575;
  }

  .menu {
    color: #99a1ab;
    &:hover {
      color: deeppink;
    }
  }

  .mat-icon {
    font-size: 24px;
    text-decoration: none;
    align-content: center;
  }
}

.loggedIn {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .buttons {
    display: none;
  }
}

