<div class="wrapper">
  <div class="searchbar-content">
    <div class="searchbar-search-button">
      <button mat-flat-button>
        <mat-icon>search</mat-icon>
        Search
      </button>
    </div>
    <div class="searchbar-not-search-button">
      <div class="searchbar-location-button">
        <button mat-stroked-button [matMenuTriggerFor]="menu">
          <span>Location</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu
          #menu="matMenu"
          class="searchbar-menu-content mat-elevation-z1">
          <div class="header">
            <div>
              <button mat-stroked-button>Remote</button>
              <button mat-stroked-button>World</button>
            </div>
            <button mat-mini-fab class="mat-elevation-z0 exit-dialog">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <p class="mat-h3">Top locations</p>
            <ng-container *ngFor="let location of locations">
              <button mat-stroked-button *ngIf="location.top">
                {{ location.name }}
              </button>
            </ng-container>
          </div>
          <div>
            <p class="mat-h3">Other locations</p>
            <ng-container *ngFor="let location of locations">
              <button mat-stroked-button *ngIf="!location.top">
                {{ location.name }}
              </button>
            </ng-container>
          </div>
          <hr />
          <div>
            <button mat-stroked-button>Clear filter</button>
          </div>
        </mat-menu>
      </div>
      <div class="technologies">
        <div
          class="technology"
          *ngFor="let technology of technologies; let i = index"
        >
          <button mat-mini-fab id="button{{ i }}" class="mat-elevation-z0">
            <img *ngIf="technology.icon" src="{{technology.icon}}" class="icons"/>
            <span *ngIf="!technology.icon">All</span>
          </button>
          <span>{{ technology.name }}</span>
        </div>
        <div class="mat-elevation-z0 more-technologies technology" id="more-technologies" [matMenuTriggerFor]="techmenu">
          <mat-icon>more_horiz</mat-icon>
        </div>
        <mat-menu #techmenu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
        </mat-menu>
        <span></span>
      </div>
    </div>
    <div class="searchbar-filter-button">
      <button mat-stroked-button (click)="openDialog()">
        <mat-icon>tune</mat-icon>
        More filters
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
</div>
