@import "~@angular/material/theming";
@include mat-core();

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-step-header .mat-step-icon-selected {
  background: deeppink;
}

.mat-horizontal-stepper-header-container, .mat-horizontal-content-container {
  background: #f3f6f8;
}
