@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin-ext');
@import url('https://cdn.maptiler.com/mapbox-gl-js/v1.5.1/mapbox-gl.css');
@include mat-core();



app-main-offer-page {
  height: 100%;
}

* {
  font-family: Open Sans, sans-serif;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-dialog-container {
  width: 600px !important;
  padding: 0 !important;
}

.mat-button-wrapper {
  padding: 0 !important;
}

.mat-drawer-content {
  background-color: white;
  display:flex !important;
  flex-direction: column !important;
  height:100%;
}

.mat-drawer-container {
  height: 100%;
}

.mat-toolbar {
  border-bottom: #e5eaf3 1px solid;
  background-color: #fff;
  align-content: center;
  height: 68px;
}



.mat-stroked-button,
.mat-button,
.mat-flat-button {
  border-radius: 20px !important;
}

.mat-mini-fab {
  height: 35px !important;
  width: 35px !important;
}

// jak to wrzucam gdzie indziej to nie działa
// searchbar-location-button
.mat-menu-panel {
  position: relative;
  padding: 24px;
  color: #757575;
  max-width: 440px !important;
  width: 440px !important;

  span {
    font-weight: 600;
  }

  .mat-stroked-button {
    margin: 6px;
  }

  .mat-h3 {
    margin-bottom: 0;
    margin-top: 12px;
    font-family: Open Sans, sans-serif !important;
  }
}
// ^^ searchbar-location-button

.mapboxgl-marker {
  background-color: hsla(20, 100, 50, 0.9);
  box-shadow: rgba(255, 85, 0, 0.25) 0 0 0 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}
