.offers {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selection-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.selection-content {
  background: rgb(243, 246, 248);
  height: 100%;
}

.right, .left {
  > div {
    cursor: pointer;
  }
}

.left {
  div {
    outline: none;
  }
  display: flex;
  flex: 1 1 0;
  padding-left: 30px;

  :nth-child(2) {
    margin-left: 5px;
  }

  .link {
    &:hover {
      filter: contrast(90%);
    }
    position: relative;
    display: flex;
    align-items: flex-end;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      left: -20px;
      background: rgba(0, 0, 0, 0) radial-gradient(
          circle at left top,
          transparent 70%,
          rgb(243, 246, 248) 69%);
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      right: -20px;
      background: rgba(0, 0, 0, 0) radial-gradient(
          circle at right top,
          transparent 70%,
          rgb(243, 246, 248) 69%)
    }
  }

  .label {
    padding: 0 30px;
    display: flex;
    background: rgb(243, 246, 248);
    height: 100%;
    border-radius: 20px 20px 0 0;
    align-items: center;

    .label-text {
      font-size: 14px;
      font-weight: 700;
      margin-top: 4px;
      color: rgb(119, 119, 119);
    }
  }
}

.right {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  margin-right: 16px;
  .sort {
    font-size: 14px;
    color: rgb(119, 119, 119);
    display: flex;
    font-weight: 500;
    span {
      display: flex;
      align-items: center;
    }
    .first {
      color: rgb(153, 161, 171);
      margin-right: 8px;
    }
    .icon {
      margin-left: 8px;
      font-size: 20px;
      display: flex;
      align-items: center;
    }
  }
}
