$large-device-width: 1600px;
$medium-device-width: 1024px;
$small-device-width: 490px;
$gradient: #f12711, #f5af19, #FC466B, #3F5EFB,
#c471ed, #f64f59, #6dd5ed, #0f9b0f,
#FDC830, #F37335, #302b63, #ED213A,
#264653, #85144b , #4ca2cd, #24243e,
#c31432, #cc5333, #0049B7, #6B5B95,
#00b09b, #96c93d, #fca311;
